:root {
    /* Primary */
    --light-red-color: 0, 100%, 67%;
    --color-orangey-yellow-color: 39, 100%, 56%;
    --green-teal-color: 166, 100%, 37%;
    --cobalt-blue-color: 234, 85%, 45%;

    /* Gradient */
    --light-slate-blue-color: 252, 100%, 67%;
    --light-royal-blue-color: 241, 81%, 54%;
    --violet-blue-color: 256, 72%, 46%, 1;
    --persian-blue-color: 241, 72%, 46%, 0;

    /* Neutral */
    --white-color: 0, 0%, 100%;
    --pale-blue-color: 221, 100%, 96%;
    --light-lavender-color: 241, 100%, 89%;
    --dark-gray-blue-color: 224, 30%, 27%;
}

/*===============*/
/* Fonts         */
/*===============*/

@font-face {
    font-family: 'Hanken Grotesk', sans-serif;
    src: url(/assets/fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Hanken Grotesk', sans-serif;
    src: url(/assets/fonts/static/HankenGrotesk-Bold.ttf) format(tff);
    font-weight: 700;
}

@font-face {
    font-family: 'Hanken Grotesk', sans-serif;
    src: url(/assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

/*===============*/
/* General reset */
/*===============*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    color: hsl(var(--white-color));
    line-height: 1.6;
}

p {
    font-size: 18px;
}

/*=================*/
/* Card result     */
/*=================*/

.card {
    max-width: 30rem;
}

.card-result {
    background-color: hsl(var(--light-royal-blue-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
    padding: 1.25rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.card-result-title {
    color: hsl(var(--white-color), .5);
}

.card-result-overall-score {
    border-radius: 50%;
    background-image: linear-gradient(hsl(var(--violet-blue-color)), hsl(var(--persian-blue-color)));
    aspect-ratio: 1;
    padding: 1.5rem;
}

.high-score {
    font-size: 3rem;
    font-weight: 700;
    display: block;
}

.max-score {
    color: hsl(var(--white-color), .4);
}

.card-result-text p {
    color: hsl(var(--white-color), .6);
}

/*=================*/
/* Card summary    */
/*=================*/

.card-summary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.25rem 2rem;
}

.card-summary-title {
    color: hsl(var(--dark-gray-blue-color));
}

.score-list {
    display: flex;
    flex-direction: column;
}

/*=================*/
/* Utility classes */
/*=================*/

.container {
    max-width: 100%;
}

@media (min-width: 30rem) {
    body {
        /* For centering for larger screens */
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
    
    /*=================*/
    /* Utility classes */
    /*=================*/
    .container {
        max-width: min(100% - 4rem, 40rem);
    }
}